{% extends 'base.html.twig' %}

{% block body %}

<title>{% block title %}Konserwacja strony!{% endblock %}</title>

<style>

h1 {
  font-size: 50px; 
}
body { 
  background: blue;
  background: -webkit-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: -moz-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: -o-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: linear-gradient(to left, #F8F8FF, #DCDCDC);
  font: 20px Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  color: #333; 
}
article {
  display: block;
  text-align: left;
  width: 650px;
  margin: 0 auto;
  margin-top: 60px; 
}
a {
  color: #dc8100;
  text-decoration: none; 
}
a:hover {
  color: #333; text-decoration: none; 
}

</style>

<article>
    <h1>Wrócimy niebawem!</h1>
    <div>
        <p>Przepraszamy za niedogodności, ale w tej chwili wykonujemy pewne prace konserwacyjne. Jeśli potrzebujesz, możesz zawsze <a href="mailto:info@home.pl">się z nami skontaktować</a>, w przeciwnym razie wkrótce wrócimy do trybu online!</p>
        <p>&mdash; home.pl</p>
    </div>
</article>

<br><br>

<img src="https://ocdn.eu/images/pulscms/YzA7MDA_/74289a640e1e911b7d7a9ccaa9bc712c.jpeg" alt="sad_pepe" style="margin:auto; display:block; border-radius: 35%">


{% endblock %}