<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="{{ asset('https://uploads.sitepoint.com/wp-content/uploads/2009/02/pbskids.gif') }}" />

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            {% if app.user %}
                <a class="navbar-brand" href="#" style="margin-left: 35px;">Zalogowany jako: <i>{{ app.user.username }}</i></a>
            {% endif %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="{{ path('home') }}"><i class="fa fa-home" style="font-size:36px"></i></a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">Wyloguj</a>
                </li>
                {% else %}
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">Zaloguj się</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Zarejestruj się</a>
                </li>
                {% endif %}
                </ul>
            </ul>
        </div>
    </nav>

    <div class="container">
                {% block body %}{% endblock %}
            </div>
            {% block javascripts %}{% endblock %}
            <div class="col-md-12">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{type}}" style="margin-top: 30px;">{{message}}</div>
                    {% endfor %}
                {% endfor %}
            </div>
    </body>