{% extends 'base.html.twig' %}

{% block body %}

<style>

h1 {
  font-size: 50px; 
}
body { 
  background: blue;
  background: -webkit-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: -moz-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: -o-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: linear-gradient(to left, #F8F8FF, #DCDCDC);
  font: 20px Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  color: #333; 
}
article {
  display: block;
  text-align: left;
  width: 800px;
  margin: 0 auto;
  margin-top: 60px; 
}
a {
  color: #dc8100;
  text-decoration: none; 
}
a:hover {
  color: #333; text-decoration: none; 
}

</style>

<article>
    <h1>Gratulacje, zostałeś zalogowany!</h1>
    <br>
    <div>
        <p><a href="{{ path('home') }}">Wybierz</a>, aby wrócić do strony głównej.</p>
    </div>
</article>

<br>

<img src="https://www.tvovermind.com/wp-content/uploads/2017/04/gastsby-whatgatsby.jpg.gif" alt="gz" style="margin:auto; display:block; height: 500px;>


{% endblock %}