{% extends 'base.html.twig' %}

{% block body %}

{% if errors %}
  <div class="komunikat"><p> {{ errors.messageKey | trans(errors.messageData, 'security') }} </p></div>
{% endif %}

<title>{% block title %}Zaloguj się!{% endblock %}</title>

<style>

body {
  background: blue;
  background: -webkit-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: -moz-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: -o-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: linear-gradient(to left, #F8F8FF, #DCDCDC);
  font: 20px Helvetica, sans-serif;
  color: #333; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.login-page {
  width: 600px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  height: 320px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid black;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:   #5F9EA0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #DCDCDC;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #696969;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 20px;
}
.komunikat{
  width: 85%;
  margin: 0 auto;
  color: red;
  font-weight: 600;
}
.komunikat p{
  position: absolute;
  margin-top: 35px;
}

</style>

	<div class="login-page">
  	    <div class="form">
            <form class="login-form" action="{{ path('login') }}" method="post">
                <input type="text" name="_username" placeholder="nazwa użytkownika" id="username" value="{{ username }}" />
                <input type="password" name="_password" placeholder="hasło" id="password"/>
                <button name="_target_path" value="{{ path('logged') }}">Zaloguj się</button>
                <p class="message">Nie masz konta? <a href="{{ path('register') }}">Zarejestruj się!</a></p>
            </form>
        </div>
  </div>

{% endblock %}
