{% extends 'base.html.twig' %}

{% block body %}

<title>{% block title %}Zarejestruj się!{% endblock %}</title>

<style>

body {
  background: blue;
  background: -webkit-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: -moz-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: -o-linear-gradient(right, #F8F8FF, #DCDCDC);
  background: linear-gradient(to left, #F8F8FF, #DCDCDC);
  font: 20px Helvetica, sans-serif;
  color: #333; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
label {
    font-family: Poppins, sans-serif;
}
.form-control {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid black;
}
.card-body{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:   #5F9EA0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #DCDCDC;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  height: 55px;
}
form {
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  height: 470px;
  
}

</style>

    <div class="container" style="margin-top: 8%;">
        <div class="d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card rounded-0 shadow">
                    <div class="card-body">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                    <div class="form-group">
                                        <label>Nazwa użytkownika:</label>
                                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Adres e-mail:</label>
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Hasło:</label>
                                        {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Powtórz hasło:</label>
                                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" style="margin-right: 200px;">Zapamiętaj mnie</label>
                                    </div>
                                    <button type="submit">Wyślij</button>
                                {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}